{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sky Health Check{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    
<script src="https://cdn.tailwindcss.com"></script>

</head>
<body>

    <!-- top white bar with sky logo on the left and nav items on the right -->
    <div class="top-bar">
        <img src="{% static 'images/skylogo.png' %}" alt="Sky Logo" class="sky-logo">
        <div class="nav-items">
            <!-- show 'about us' link unless on about Us page and logged in -->
            {% if request.path != '/users/' %}
                <a href="{% url 'index' %}">About Us</a>
            {% else %}
                <!-- change 'about Us' to 'dashboard' if on about us page and logged in -->
                <a href="{% url 'dashboard' %}">Dashboard</a>
            {% endif %}

            {% if user.is_authenticated %}
                <!-- if logged in, show 'dashboard' and 'log out' -->
                <a href="{% url 'dashboard' %}">Dashboard</a>
                <a href="{% url 'logout' %}">Log Out</a>
            {% else %}
                <!-- if not logged in, show 'log in' and 'sign up' links -->
                {% if request.path == '/users/signup/' %}
                    <a href="{% url 'login' %}">Log In</a>
                {% elif request.path == '/users/login/' %}
                    <a href="{% url 'signup' %}">Sign Up</a>
                {% else %}
                    <a href="{% url 'login' %}">Log In</a>
                    <a href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <!-- gradient sky bar with sky health check title -->
    <div class="gradient-bar">
        <h1 class="sky-title">Sky Health Check</h1>
    </div>

    <!-- page content -->
    <div class="content-wrapper">
        {% block content %}
        {% endblock %}
    </div>

    <!-- footer -->
    <footer class="footer">
        <p>&copy; 2025 Sky UK | <a href="#">Privacy & Cookies</a> | <a href="#">Terms & Conditions</a></p>
    </footer>

</body>
</html>
