{% extends 'base.html' %}

{% block title %}About Us - Sky Health Check{% endblock %}

{% block content %}
<div class="about-us-container">
    <div class="about-us-box">
        <h2>About Us</h2>
        <p>Welcome to the SKY Health Check! We want to assess our employees and make sure everything is fine with whoever works in our company.</p>
        <br>
        <p>The check is simple, make an account if you do not have one, choose your role correctly, and partake in the voting, everything is basic and streamlined to be easy to pick up and use.</p>
    </div>
</div>
{% endblock %}